*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 1rem;
    line-height: 1rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    'header'
    'main'
    'footer'
    ;
    height: 100vh;
}
header{
    grid-area: header;
}

.bg-img {
    background-image: url('img/monkey-3507317_1280.jpg');
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
    background-position: 50% 50%; 
}

#container{
    position: sticky;
    width: 100%;
    top: 0;
    overflow: hidden;
    margin: 0 1rem;
    position: sticky;
}

#container nav{
    display: block;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 10px;
    background-color: rgba(116, 28, 4, 0.27); 
    color: white; 
    position: sticky; 
    
}

.nav-cont {
    display: inline;
    margin-left: 2em;
    color: white;  
}
.nav-cont a {
    color: white;
    text-decoration: none;
    display: none;
}

.nav-cont a:hover {
    color: rgba(240, 255, 255, 0.535);
}

