*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 1rem;
    line-height: 1rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    'header'
    'main'
    'footer'
    ;
    height: 100vh;
}
header{
    grid-area: header;
}
/* main{
    grid-area: main;
} */

.bg-img {
    background-image: url('img/monkey-3507317_1280.jpg');
    min-height: 200px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    margin: 0 0 0 0;
    position: relative;
    
    
}

#container{
    position: sticky;
    width: 100%;
    top: 0;
    overflow: hidden;
    object-fit: cover;
    
}

#container nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    padding: 4px;
    background-color: rgba(116, 28, 4, 0.27); 
    color: white; 
    position: sticky; 
    
}

.nav-cont {
    display: inline;
    margin-left: 1em;
    color: white;  
}
.nav-cont a {
    color: white;
    text-decoration: none;
    display: none;
}

.nav-cont a:hover {
    color: rgba(240, 255, 255, 0.535);
}

.keyword{
    display: none;
}

/* #search-bar {
    margin-right: 5px;
} */

.search{
    display: none;
}
/* .loda {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    'bass second';
    
}
.bass{
    grid-area: bass;
    width: 20px;
    height: auto;
    border: 1px solid black;
    object-fit: cover;
    
}
.second{
    grid-area: second;
    width: 10px;
    height: auto;
    border: 1px solid black;
    object-fit: cover;
} */