*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    line-height: 1.5;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    'header'
    'main'
    'footer'
    ;
    height: 100vh;
}
header{
    grid-area: header;
}

.bg-img{
    background-image: url(images/monkey-3507317_1280.jpg);
    /* center and scale img */
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* positioning nav bar */
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: antiquewhite;
    
    
}